/* Font Family */


:root {
    --primary-color: #65C2ED;
    --secondary-color: #F1ADFF;
    --black-primary: #100F1A;
    --black-secondary: #1E1E1E;
    --font-family-bold: "poppins-bold";
    --white: #ffffff;
}
/*========= Typography Start ===========*/
body{
    font-family: "Inter", sans-serif;
    background-color: #fff;
}
p{
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
}
h1{
    font-size: 86px;
    line-height: 106px;
    color: var(--black-primary);
    font-weight: 700;
    font-family: "Inter", sans-serif;
}
h2{
    font-size: 42px;
    line-height: 60px;
    color: var(--black-primary);
    font-weight: 700;
    font-family: "Inter", sans-serif;
}

/*========= Typography End ===========*/

/* ========= Common Css Start =========*/

input:focus{
   box-shadow: none !important;
   border-color: #e5e5e5 !important;
}
.w-125{
    width: 125px !important;
}
.title-header h4{
    font-size: 24px;
    line-height: 29px;
    font-weight: 600;
    margin-bottom: 0;
}
.view-all a{
    font-size: 16px;
    line-height: 19px;
    font-weight: 600;
    margin-bottom: 0;
    text-decoration: none;
    color: var(--black-primary);
}
.section-padding{
    padding: 80px 0;
}
.mt-80{
    margin-top: 80px;
}
/* ========= Common Css End ============*/
/* =========== Button Start ============*/

.button-primary{
    background: rgb(101,194,237);
    background: linear-gradient(90deg, var(--primary-color) 0%, var(--secondary-color) 100%);
    border: 0;
    display: inline-block;
    padding: 15px;
    color: var(--white);
    border-radius: 8px;
    width: 300px;
}
.button-primary:hover{
    background: rgb(101,194,237);
    background: linear-gradient(90deg, var(--secondary-color) 0%, var(--primary-color) 100%);
    border: 0;
    display: inline-block;
    padding: 15px;
    color: var(--white);
    border-radius: 8px;
    width: 300px;
}
.subscribe .button-secondary-grp,
.subscribe .button-secondary{
    max-width: 500px;
}
.button-secondary{
    max-width: 250px;
    padding: 1rem;
    position: relative;
    background: linear-gradient(to right, red, purple);
    padding: 3px;
    background: var(--white);
  color: var(--black-primary);
}

.button-secondary-grp {
    max-width: 250px;
    position: relative;
    background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
    padding: 2px;
    border-radius: 5px;
    text-align: center;
  }
  
  .button-secondary {
    background: var(--white);
    color: var(--black-primary);
    padding: 10px;
    border-radius: 5px;
  }
/* =========== Button End ==============*/
/* ========= Navigation End ============*/


.search-grp input{
    border-left: 0;
}
.navbar-nav .nav-link{
    color: var(--black-primary);
    padding-right: 20px !important;
    padding-left: 20px !important;
    font-weight: 600;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show,
.navbar-nav .nav-link:hover{
    color: var(--primary-color) !important;
    
}

/* ========= Navigation End ============*/
/* ========= landing page Start ============*/
.header-padding{
    padding: 100px 0;
}
.header-grp p{
    width: 70%;
    margin-top: 30px;
}


.category-grp  .category-inners{
    padding: 15px;
    border-radius: 10px;
}
.category-grp  .category-inners-1{
    background-color: #EBF8E6;
}
.category-grp  .category-inners-2{
    background-color: #FFE8ED;
}
.category-grp  .category-inners-3{
    background-color:  #E5EDFA;
}
.category-grp  .category-inners-4{
    background-color: #FFEFB6;
}
.category-grp  .category-inners h3{
    font-size: 20px;
    font-weight: 600px;
    line-height: 30px;
}

.popular-tab .nav-link.active{
    background-color: var(--black-primary) !important;
    padding: 10px !important;
}
.popular-tab .nav-link{
    background-color: transparent !important;
    padding: 10px !important;
    color: var(--black-primary);
    border: 1px solid #dcdcdc;
}
.amt-del{
    font-size: 17px;
    color: #707074;
}
.amt{
    font-size: 22px;
    color: var(--black-primary);
    line-height:  32px;
    font-weight: 700;
}
.amt span{
    font-size: 14px;
    color:#4E966E;
    line-height:  32px;
    font-weight: 500;
    margin-left: 15px;
}
.best-deals{
    padding: 20px;  
}
.best-deals h3{
    font-size: 38px;
    color: var(--black-primary);
    font-weight: 700;
    line-height: 42px;
}
.best-deals h3 span{
    color: var(--primary-color);
}
.brand-pos{
    position: absolute;
    bottom:0;
    right: 0;
}
.footer-bg{
    background-color: #000;
    padding-top: 50px;
    padding-bottom: 30px;
    background-image: url(../images/footer-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.footer-link-list h6{
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 15px;
}
/* ========= landing page End ============*/